{% extends 'shop/basic.html' %}


{% block title %}MY SITE{% endblock %}

{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">About Us</h1>
      <p> This is the my personal site and fully made by me and it is established while just learning Django in the year 2020.
      we are also looking forward to teach you and help you in the way you want.
      for any query please feel free to contact us on the below details.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>KHOPOLI HEADQUATERS</h2>
        <p> Address: Samarth nagar <br> Mobile: 7249996663 <br> E-mail: email@email.com</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>MUMBAI OFFICE</h2>
        <p> Address: Zoo chaupati <br> Mobile:1234567891 <br> E-mail: email@email.com</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>PUNE OFFICE</h2>
        <p> Address: Behind Zensor I Park, Kharadi <br> Mobile:7895687456 <br> E-mail: email@email.com</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}



