<!doctype html>
<html lang="en">
  <head>
        <script> window.location = "/shop";</script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <style>
      .btn-primary {
        color: rgb(255, 193, 7);
        background-color: rgb(73, 80, 87);
        border-color: rgb(23, 162, 184);hsla(183, 100%, 50%, 0.94)
       }
</style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
   <div class="jumbotron">
  <h1 class="display-4"><b>Hello , Enjoy Your Journey! </b></h1>
       <p class="lead"><q>This is a simple shop site, where you can play around and learn the Flow. </q></p>
  <hr class="my-4">
       <p><em> It's All Your Choice.....</em></p>
  <a class="btn btn-primary btn-lg" style="color: rgb(255, 193, 7);background-color: rgb(73, 80, 87);border-color: hsla(183, 100%, 50%, 0.94);" href="/shop" role="button">Go For Shopping</a>
  <a class="btn btn-primary btn-lg" style="color: rgb(255, 193, 7);background-color: rgb(73, 80, 87);border-color: hsla(183, 100%, 50%, 0.94);" href="/blog" role="button">Go To Blog</a>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>